.Credits {
  width: 100%;
  margin-bottom: 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Space {
  width: 10px;
  height: 10px;
}

.CreditsName {
  font-weight: 700;
}
